<!DOCTYPE html>
<html>
  <head>
    <title>Nearcut Exercise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="flash">
      <%= turbo_frame_tag 'flash', data: { flash_target: "message" } do %>
        <%= render 'flash' %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
